include LICENSE README.md CMakeLists.txt
recursive-include include *.h *.hpp
recursive-include src/native *.cpp
recursive-include src/fastdis *.py *.c
recursive-include docs *.md
recursive-include tests *.py *.cpp
recursive-include examples *.py *.c *.cpp *.h *.cs *.Build.cs *.uplugin *.gdextension *.sample *.md
recursive-include .github/workflows *.yml

recursive-include tools *.py

recursive-include benchmarks *.cpp *.py *.md

recursive-include examples SConstruct
