[configuration]
entry_symbol = "fastdis_godot_library_init"
compatibility_minimum = "4.2"

[libraries]
linux.debug.x86_64 = "res://addons/fastdis/bin/libfastdis_godot.linux.template_debug.x86_64.so"
linux.release.x86_64 = "res://addons/fastdis/bin/libfastdis_godot.linux.template_release.x86_64.so"
windows.debug.x86_64 = "res://addons/fastdis/bin/fastdis_godot.windows.template_debug.x86_64.dll"
windows.release.x86_64 = "res://addons/fastdis/bin/fastdis_godot.windows.template_release.x86_64.dll"
macos.debug = "res://addons/fastdis/bin/libfastdis_godot.macos.template_debug.framework"
macos.release = "res://addons/fastdis/bin/libfastdis_godot.macos.template_release.framework"

; Put libfastdis.so / fastdis.dll / libfastdis.dylib beside the wrapper or
; statically link fastdis into the GDExtension wrapper to simplify deployment.
